
/* Your CSS Code here. */
#d1
{
   
    width:200px;
    background-color: purple;
    border: 0px;
     border-left: 5px;
    border-color: green;
    border-style: solid;
    padding: 10px;
    font-size: 20px;
    color: white;
    
}