
/* Your CSS Code here. */
#d1
{
   
    width:200px;
    background-color: purple;
    border: 5px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0; 
    border-color: green;
    border-style: solid;
    padding: 10px;
    font-size: 20px;
    color: white;
    
}